POSTSERVICE_HOST        =posts
POSTSERVICE_PORT        =3000

AUTHSERVICE_HOST        =auth
AUTHSERVICE_PORT        =4000
JWT_SECRET              =secret

MEDIASERVICE_HOST       =media
MEDIASERVICE_PORT       =2000

BIND_ADDRESS            =0.0.0.0
BIND_PORT               =8080
SHUTDOWN_TIMEOUT        =5s
READ_TIMEOUT            =5s
WRITE_TIMEOUT           =5s