JWT_SECRET              =secret
JWT_TTL                 =1h

BIND_ADDRESS            =0.0.0.0
BIND_PORT               =4000
SHUTDOWN_TIMEOUT        =5s
READ_TIMEOUT            =5s
WRITE_TIMEOUT           =5s