JWT_SECRET              =secret
JWT_TTL                 =1h

POSTGRES_USER           =postgres
POSTGRES_PASSWORD       =postgres
POSTGRES_HOST           =postgres
POSTGRES_PORT           =5432
POSTGRES_DB             =postgres
POSTGRES_TIMEOUT        =5s

BIND_ADDRESS            =0.0.0.0
BIND_PORT               =4000
SHUTDOWN_TIMEOUT        =5s
READ_TIMEOUT            =5s
WRITE_TIMEOUT           =5s